<div class='container'>
  <div class='side-container'>
    <div class='large-box'></div>
    <br />
    <div class='box lightblue'></div>
    <br />
    <div class='box darkred'></div>
    <br />
    <div class='box green'></div>
    <br />
    <div class='box orange'></div>
  </div>
  <div class='content-container'>
    <div class='about'>
      <h2>ABOUT OPEN SOURCE</h2>
      <p>
        We are an RSO registered with UIUC dedicated to developing open-source 
        software to promote a healthy and free internet. 
      </p>
    </div>
    <br />
    <div class='announcements'>
      <h2>DISCORD</h2>
      <p>
        Come join our active development community on Discord at <a href='https://discord.gg/yumdCzf'>https://discord.gg/yumdCzf</a>! We collaborate on projects, post helpful articles on various topics
      </p>
    </div>
  </div>
</div>

