# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/front-end/dist
/front-end/tmp
/front-end/out-tsc
# Only exists if Bazel was run
/bazel-out

# sensitive info
/server/config/config.js
/front-end/.env
/server/.env

#node modules
/node_modules
/front-end/node_modules
/server/node_modules

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
