<div class='container'>
  <div class ='Logo'>
    <img src='assets/logo.jpg' height='210px' width='300px'>
  </div>

  <div class='content-container'>

    <div class='about'>
      <h1 style="color:#FFA91D">WELCOME</h1>
      <h2 style="color:#A2773A">ABOUT OPEN SOURCE</h2>
      <p style="color:#BEC0CB">
        We are an RSO registered with UIUC dedicated to developing open-source 
        software to promote a healthy and free internet. 
      </p>
    </div>

    <br>

    <div class='announcements'>
      <h2 style="color:#A2773A">ANNOUNCEMENTS <button mat-raised-button (click)="openBottomSheet()">Make An Announcement</button>
      </h2>
      <p style="color:#BEC0CB">
        For now, we are going to have to handtype the annoucements because the functionality here is pretty minor compared to other important aspects of the site.
      </p>
    </div>
    <br>

    <div class = 'discord'>
      <h2 style="color:#A2773A">DISCORD</h2>
      <p style="color:#BEC0CB">
        Come join our active development community on Discord at <a href='https://discord.gg/yumdCzf' target="_blank">https://discord.gg/yumdCzf</a>! We collaborate on projects, post helpful articles on various topics.
        Test......
      </p>
    </div>
  </div>
</div>

