p {
  color: blue;
  font-size: 100%;
}
*{
  background-color: orange;
}
.navbar{
  border-bottom: 5px solid blue;
}
.btn-success, .btn-success:hover, .btn-success:active {
  background-color: blue;
  border-color: blue;
}
@import '~bootstrap/dist/css/bootstrap.min.css';
