<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-fixed-top navbar-dark justify-content-right">
    <div class="container">
      <a routerLink='' class = "btn btn-success">
        <img src='assets/house_icon.png' height='25px' width='25px' />
      </a>
      <p class="navbar-brand">{{ title }}</p>
      <a routerLink='user' class = "btn btn-success">
        <img src='assets/profile_icon.png' height='25px' width='25px' />
      </a>
      <a routerLink='login' class = 'btn btn-succes'> Temp Login </a>
    </div>
</nav>
<br />
<router-outlet></router-outlet>
