<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="collapse navbar-collapse" id="navbarNav">
    <img routerLink='/' src='assets/logo.jpg' height='140px' width='200px'>
    <div class="hamburger" (click)="toggleSlider()">
      <div id="bar1"></div>
      <div id="bar2"></div>
      <div id="bar3"></div>
    </div>
    <div id="slide-nav" [@slide_in_out]="slider_state">
      <div id="slide-nav-content">
        <div class="hamburger" id="hamburger2" (click)="toggleSlider()">
          <div id="bar1"></div>
          <div id="bar2"></div>
          <div id="bar3"></div>
        </div>
        <a routerLink='user' (click)="toggleSlider()" >PROFILE</a>
        <a routerLink='projects' (click)="toggleSlider()" >PROJECTS</a>
        <a routerLink='workshops' (click)="toggleSlider()">WORKSHOPS</a>
        <a routerLink='members' (click)="toggleSlider()">MEMBERS</a>
        <a target='_blank'
        href="https://calendar.google.com/calendar?cid=MTRoYzZrZG9rNGhiaWRoNmVpcjdvb2xtZGdAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ">CALENDAR</a>
        <a target='_blank' href="https://trello.com/opensourceillinois/home">SCRUMBOARD</a>
        <p  margin-right='20px'>
          <button (click)="auth.login()" *ngIf="!auth.loggedIn">Log In</button>
        </p>
        <p margin-right='20px'>
          <button (click)="auth.logout()" *ngIf="auth.loggedIn">Log Out</button>
        </p>
      </div>
    </div>
    <ul class="navbar-nav float-right">
      <li class='nav-item'>
        <a routerLink='projects'>
          <div class='module'>PROJECTS </div>
        </a>
      </li>
      <li class='nav-item'>
        <a routerLink='workshops'>
          <div class='module'>WORKSHOPS </div>
        </a>
      </li>
      <li class='nav-item'>
        <a routerLink='members'>
          <div class='module'>MEMBERS </div>
        </a>
      </li>
      <li class="nav-item">
        <a target='_blank'
          href="https://calendar.google.com/calendar?cid=MTRoYzZrZG9rNGhiaWRoNmVpcjdvb2xtZGdAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ">
          <div class='module'>CALENDAR</div>
        </a>
      </li>
      <li class="nav-item">
        <a target='_blank' href="https://trello.com/opensourceillinois/home" class='nav-link'>
          <div class='module'>SCRUMBOARD</div>
        </a>
      </li>
      <li class="nav-item">
        <div class="btn">
          <a routerLink='user' class="btn-success">
            <img src='assets/profile_icon.png' height='25px' width='25px' />
          </a>
        </div>
      </li>
      <li class="nav-item" margin-right='20px'>
        <button (click)="auth.login()" *ngIf="!auth.loggedIn">Log In</button>
      </li>
      <li class="nav-item" margin-right='20px'>
        <button (click)="auth.logout()" *ngIf="auth.loggedIn">Log Out</button>
      </li>
    </ul>
  </div>
</nav>
<br />