.form-container {
    display: flex;
    flex-direction: column;
    background-color: blue;
    h3{
      color: white;
    }
    mat-form-field {
      background-color: white;
    }
    .presenter{
      display:flex;
      flex-direction: row;
      width:100%;
      mat-form-field{
        width: 50%;
        input{
          width: 100%;
        }
      }
    }
    button{
      background-color: white;
      width: 40%;
      border-color: black;
    }
  }

.pendingMembers{
  h3{
    background-color: blue;
    color: white;
  }
}