<br />
<pre *ngIf="auth.userProfile$ | async as profile">
  <code>{{ profile | json }}</code>
</pre>
<div *ngIf = 'user'>
  <div class = 'grid grid-pad'>
    <mat-list>
      <h6 mat-subheader>Name</h6>
      <mat-list-item>
        <p><span>{{user.firstname}} {{user.lastname}}</span></p>
      </mat-list-item>
      <mat-divider></mat-divider>

      <h6 mat-subheader>Github</h6>
      <mat-list-item>
        <p><span>{{user.github}}</span></p>
      </mat-list-item>      
    </mat-list>
  </div>
  <div *ngIf = 'user.position'>
    <app-user-detail [user]="user"></app-user-detail>
  </div>
</div>
