.grid {
  margin: 0;
}

.grid-pad {
  padding: 10px 0;
}
.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}

.container{
  display: flex;
  flex-direction: row;
  img{
    width: 50%;
    height: auto;
  }
  mat-list{
    display: flex;
    flex-direction: column;
    width: 50%;
    h6{
      background-color: blue;
      color: white;
    }
    mat-list-item{
      background-color: white;
      border-color: blue;
      border-width: 5px;
      p{          
        color: black;
      }
    }  
  }
}


// @media (max-width: 750px){
//   margin-top : 30%;
// }