/* Application-wide Styles */
html{
  margin: 0;
  padding: 0;
}
h1 {
  color: blue;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: 'Julius Sans One', sans-serif;
  font-weight: lighter;
}
// body {
//   margin: 2em;
// }
body, input[type="text"], button {
  // color: #888;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  background-color: #182249;
}
// /* everywhere else */
// * {
//   font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
// }
@import '@angular/material/prebuilt-themes/indigo-pink.css';
