<mat-list>
    <h3 mat-subheader>Position</h3>
    <mat-list-item>
        <p><span>{{user.position}}</span></p>
        <button mat-button onclick="changeUserPosition()">Edit</button>
    </mat-list-item>
    <mat-divider></mat-divider>

    <h3 mat-subheader>Pending Projects</h3>
    <!-- <mat-list-item> -->
        <mat-card *ngFor='let project of projects'>
            <mat-card-header>
            <mat-card-title>{{project.title}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
            Description: {{project.description}} <br />
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>Reject</button>
                <button mat-button (click)="approveProject(project)">Approve</button>
            </mat-card-actions>
        </mat-card>
        <br />
    <!-- </mat-list-item> -->
</mat-list>
