@import '../../../node_modules/bootstrap/dist/css/bootstrap.min.css';

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: white;
  margin:0;
  padding: 0;
  // height: 100%;
  // width: 100%;
}

.navbar{
  align-content: right;
  .collapse, .navbar-collapse{
    ul{
      border-bottom: 5px solid limegreen;
      list-style-type: none;
      float: right;
      .module {
        padding: 20px;
        text-align: center;
        color: blue;
        font-family: 'Julius Sans One', sans-serif;
        max-height: 120px;
        min-width: 120px;
        background-color: white;
        border-radius: 2px;
        font-size: 24px;
      }
      .module:hover {
        background-color: white;
        cursor: pointer;
        color: #607d8b;
      }
    }
  }
}
// .btn-success, .btn-success:hover, .btn-success:active {
//   background-color: blue;
//   border-color: blue;
// }
// p {
//   color: blue;
//   font-size: 100%;
// }

.grid {
  margin: 0;
}
.col-1-4 {
  width: 25%;
}


@media (max-width: 600px) {
  .module {
    font-size: 10px;
    max-height: 75px; }
}
@media (max-width: 1024px) {
  .grid {
    margin: 0;
  }
  .module {
    min-width: 60px;
  }
}


