<br />

<div class='container'>
  <div class='side-container'>
    <div class='large-box'></div>
    <br />
    <div class='box lightblue'></div>
    <br />
    <div class='box pink'></div>
    <br />
    <div class='box lightgrey'></div>
    <br />
    <div class='box orange'></div>
  </div>
  <div class='content-container'>
    <div>
      <h2>ABOUT OPEN SOURCE</h2>
      <p>
        We are an RSO registered with UIUC dedicated to developing open-source 
        software to promote a healthy and free internet. 
      </p>
    </div>
  </div>
</div>

