<div class='container'>
  <div class ='Logo'>
    <img src='assets/logo.jpg' height='210px' width='300px'>
  </div>
  <div class='content-container'>
    <div class='about'>
      <h1 style="color:#FFA91D">WELCOME</h1>
      <h2 style="color:#A2773A">ABOUT OPEN SOURCE</h2>
      <p style="color:#BEC0CB">
        We are an RSO registered with UIUC dedicated to developing open-source 
        software to promote a healthy and free internet. 
      </p>
    </div>
    <br />
    <div class='announcements'>
      <h2 style="color:#A2773A">ANNOUNCEMENTS</h2>
      <p style="color:#BEC0CB">
        For now, we are going to have to handtype the annoucements because the functionality here is pretty minor compared to other important aspects of the site.
      </p>
    </div>
  </div>
</div>

