*, *:before, *:after {
    box-sizing: border-box;
    background-color: #182249;
}
.container{
    display: flex;
    width: 100vw;
    height: 100%;
    .content-container{
        font-family: Raleway;
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-top: 100px;
        padding-left: 20px;
        padding-right: 15%;

        button {
            color: #A2773A;
            background-color: #182249;
        }
    }
    .Logo{
        display: flex;
        flex-direction: column;
        padding: 100px 60px 100px 60px; 
        margin: 90px 60px 90px 140px;
        border-right:3px solid #FFA91D;
    }
}