<div class='container'>
  <div class='side-container'>
    <div style="position:relative; left:150px; top:120px; background-color: #003366;">
      <img routerLink='' src='assets/logo.jpg' height='140px' width='200px'>
    </div>
<!--    <div class='large-box'></div>
    <br />
    <div class='box lightblue'></div>
    <br />
    <div class='box darkred'></div>
    <br />
    <div class='box green'></div>
    <br />
    <div class='box orange'></div> -->
  </div>
  <div class='content-container'>
    <div class='about'>
      <h2>ABOUT OPEN SOURCE</h2>
      <p>
        We are an RSO registered with UIUC dedicated to developing open-source
        software to promote a healthy and free internet.
      </p>
    </div>
    <br />
    <div class='announcements'>
      <h2>ANNOUNCEMENTS</h2>
      <p>
        For now, we are going to have to handtype the annoucements because the functionality here is pretty minor compared to other important aspects of the site.
      </p>
    </div>
  </div>
</div>
